<tr>
    <td style="
        background-color: white;
        padding: 16px 1.5rem;
        font-size: 12px;
        color: #6b7280;
        text-align: center;
    ">
        &copy; <%= new Date().getFullYear() %> TypeCrafters. All rights reserved. 
        Please do not reply to this email.
    </td>
</tr>